/Graphics/.vs/Graphics/v17/
/Graphics/Graphics/x64/Debug/Graphics.tlog/CL.command.1.tlog
/Graphics/Graphics/x64/Debug/Graphics.tlog/CL.read.1.tlog
/Graphics/Graphics/x64/Debug/Graphics.tlog/CL.write.1.tlog
/Graphics/Graphics/x64/Debug/Graphics.tlog/Graphics.lastbuildstate
/Graphics/Graphics/x64/Debug/Graphics.tlog/link.command.1.tlog
/Graphics/Graphics/x64/Debug/Graphics.tlog/link.read.1.tlog
/Graphics/Graphics/x64/Debug/Graphics.tlog/link.write.1.tlog
/Graphics/Graphics/x64/Debug/Graphics.vcxproj.FileListAbsolute.txt
/Graphics/Graphics/x64/Debug/Graphicsd.Build.CppClean.log
/Graphics/Graphics/x64/Debug/Graphicsd.exe.recipe
/Graphics/Graphics/x64/Debug/Graphicsd.ilk
/Graphics/Graphics/x64/Debug/GraphicsPCH.obj
/Graphics/Graphics/x64/Debug/main.obj
/Graphics/Graphics/x64/Debug/vc143.idb
/Graphics/Graphics/x64/Debug/vc143.pdb
/Graphics/Graphics/x64/Debug/CGame.obj
/Graphics/Graphics/x64/Debug/Graphics.log
/Graphics/.vs/
/Graphics/Graphics/x64/
/Graphics/packages
/Graphics/Graphics/bin/Graphicsd.exe
/Graphics/Graphics/bin/Graphicsd.pdb
/Graphics/Graphics/bin/*.cso
/Graphics/Graphics/Shader/inc/
Graphics/Graphics/bin/Graphics.exe

Graphics/Graphics/bin/Graphics.pdb
